
name: CD

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

jobs:
  run-tests:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}

    steps:
      - name: download artifacts
        uses: actions/download-artifact@v4
        with:
          name: artifact-upload
          path: ./sites

      - name: upload pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./sites

      - name: deploy the artifacts
        id: deployment
        uses: actions/deploy-pages@v4
