
name: CD

on:
  #pull_request:
    #types: [ closed ]
    #branches: [ master ]
  push:
    branches: [ master ]
  pull_request:
    types:
      - closed

jobs:
  run-tests:
    #if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      
      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run basic tests
        run: pytest -q
      
      - name: Run tests with coverage
        run: |
          pytest -q \
            --cov=. \
            --cov-report=term \
            --cov-report=xml \
            --cov-report=html \
      
      - name: Prepare the webpage
        run: |
          mkdir sites
          mv htmlcov sites/
          mv coverage.xml sites/
          #echo '<!DOCTYPE html><html><head><meta charset="UTF-8"><title>Coverage Reports</title></head><body><h1>Coverage Reports</h1><ul><li><a href="htmlcov/index.html">HTML Coverage Report</a></li><li><a href="coverage.xml">XML Coverage Report</a></li></ul></body></html>' > sites/index.html

      - name: upload pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./sites

  Deploy:
    needs: run-tests
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    steps:
      - name: deploy the artifacts
        uses: actions/deploy-pages@v4
