
name: CD

on:
  pull_request:
    types: [ closed ]
    branches: [ master ]

jobs:
  deploy:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}

    steps:
      - name: download artifacts
        uses: actions/download-artifact@v4
        with:
          name: artifact-upload
          path: ./sites

      - name: upload pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./sites

      - name: deploy the artifacts
        id: deployment
        uses: actions/deploy-pages@v4
